.container {
    padding-left: 0px;
    padding-right: 0px;
}
/**
 * HEADER
 */

/**
 * BODY
 */
.recipe-actions {
    border-bottom: 1px solid darkgray;
    text-align: right;
    padding-top: 0px;
    padding-right: 3px;
    background-color: azure;
}
.recipe-col {
    background-color: azure;
    border: 1px solid darkgray;
    height: 250px;
    max-width: 220px;
    min-width: 215px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 0px;    

}

.recipe-image img {
    background-color: azure;
    border: 1px solid darkgray;
    max-height: 140px;
    max-width: 180px;
}

img.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recipes .index .content {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.recipe-name {
    margin-left: 5px;
    margin-right: 5px;
}

.recipe-tags {
    margin-left: 5px;
    margin-right: 5px;
}