/**
 * /bookmarks/edit 
 */
.edit-bookmarks-table {
    width: 100%;
}

th.bookmark-name {
    width: 25%;
}

th.bookmark-url {
    width: 65%;
}

th.bookmark-delete {
    width: 10%;
}
/* END /bookmarks/edit */


/**
 * /recipes/add & /recipes/edit 
 */
.p-note {
    font-size: .6em;
    margin-top: -10px;
    margin-bottom: 3px;
}
/* END /recipes/add & /recipes/edit */


/**
 * /recipes/index
 */
.recipe-actions {
    border-bottom: 1px solid darkgray;
    border-radius: 5px;
    text-align: right;
    padding-top: 0px;
    padding-right: 3px;
}

.recipe-col {
    border: 1px solid darkgray;
    border-radius: 5px;
    color: #4d4d4d;
    height: 290px;
    max-width: 220px;
    min-width: 215px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.recipe-image img {
    /* TODO:: simplfy .recipe-image & .recipe-name-button */
    border: 1px solid darkgray;
    max-height: 140px;
    max-width: 180px;
    min-height: 140px;
}

img.recipe-image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;   
}

.recipes .index .content {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.recipe-name {
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

a.recipe-name-button {
    border: 1px solid darkgray;
    display: block;
    height: 140px;
    width: 180px;
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;
    padding-top: 50px;
    text-align: center;
}

.recipe-tags {
    border-top: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

a.recipe-tag {
    border-bottom: 1px dotted black;
}

.tags-dropdown {
    height: 22px;
    padding-top: 0px; 
    padding-left:5px;
    padding-bottom: 0px;
    padding-right: 5px;
}
/* END recipes/index */


/**
 * /recipes/view/#
 */
.recipe-title {
    border: 2px solid darkgray;
    border-radius: 5px;
    padding-top: 7px;
    padding-left: 10px;
}
/* END /recipes/view/# */

/**
 * /recipes/view/#.pdf
 */
.recipe-title-pdf {
    border: 1px solid darkgray;
    border-radius: 5px;
}
/* /recipes/view/#.pdf */


/**
 * /tags/edit
 */
.edit-tags-table {
    width: 100%;
}

th.tag-name {
    width: 90%;
}

th.tag-delete {
    width: 10%;
}
/* END /tags/edit */